# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
data/graph/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/graph/.gitkeep

# Trained model artifacts
models/*.pt
models/*.pth


# Data
data/raw/*
data/processed/*
data/graph/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/graph/.gitkeep


# Models
models/checkpoints/*
models/trained/*
models/exported/*
models/embeddings/*
